In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv('../../raw_data/TEMP1')

In [3]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CRN                  110 non-null    int64
 1   SUBJECT              110 non-null    object
 2   NUMBER               110 non-null    object
 3   TITLE                110 non-null    object
 4   SECTION              110 non-null    object
 5   CAMPUS               110 non-null    object
 6   CREDITHOURS          110 non-null    int64
 7   ENROLLMENT/CAPACITY  110 non-null    object
 8   DELIVERY             110 non-null    object
 9   MEETING SCHEDULE     110 non-null    object
dtypes: int64(2), object(8)
memory usage: 8.7+ KB

In [8]:
def clean_subject(x):
    texts = x.split('\n')
    return texts[0]
def clean_meet(x):
    # texts = x['MEETING SCHEDULE'].split('\n')
    # x['MEETING DAYS'] = texts[0]
    # x['START TIME'] = texts[1].strip().split('-')[0].strip()
    # x['END TIME'] = texts[1].strip().split('-')[1].strip()
    # x['HALL'] = texts[2].strip().split(' ')[0]
    # x['ROOM'] = texts[2].strip().split(' ')[1]
    # x['START DATE'] = texts[3].strip().split('-')[0].strip()
    # x['END DATE'] = texts[3].strip().split('-')[1].strip()
    # del x['MEETING SCHEDULE']
    return x
def enroll_cap(x):
    text_form = x['ENROLLMENT/CAPACITY'].split('/')
    x['ENROLLMENT'] = int(text_form[0])
    x['CAPACITY'] = int(text_form[1])
    del x['ENROLLMENT/CAPACITY']
    return x

In [9]:
raw_df['SUBJECT'] = raw_df['SUBJECT'].apply(clean_subject)
clean_df = (raw_df.apply(clean_meet, axis=1)).apply(enroll_cap, axis=1)

In [10]:
clean_df

,CRN,SUBJECT,NUMBER,TITLE,SECTION,CAMPUS,CREDITHOURS,DELIVERY,MEETING SCHEDULE,ENROLLMENT,CAPACITY
0,14181,CSE,148,Business Computing,A,Oxford,3,Face-to-Face,MW\n ...,28,28
1,17114,CSE,148,Business Computing,B,Oxford,3,Face-to-Face,MW\n ...,29,28
2,14183,CSE,148,Business Computing,C,Oxford,3,Face-to-Face,MW\n ...,29,28
3,14185,CSE,148,Business Computing,D,Oxford,3,Face-to-Face,MW\n ...,29,28
4,14186,CSE,148,Business Computing,E,Oxford,3,Face-to-Face,MW\n ...,29,28
...,...,...,...,...,...,...,...,...,...,...,...
105,19370,CSE,588,Image Processing,A,Oxford,3,Face-to-Face,MW\n ...,9,3
106,19668,CSE,602,Emerging Topics in Comp Sci,A,Oxford,1,Face-to-Face,W\n ...,19,30
107,14327,CSE,611,Seminar Attendance Requirement,A,Oxford,0,Face-to-Face,01/29 - 05/17,0,0
108,19371,CSE,617,Advanced Networks,A,Oxford,3,Face-to-Face,TR\n ...,25,30
109,19583,CSE,620F,Large-Scale Empirical Sftw Eng,A,Oxford,3,Face-to-Face,TR\n ...,15,30

In [17]:
clean_df[clean_df['ENROLLMENT'] < clean_df['CAPACITY']]

,CRN,SUBJECT,NUMBER,TITLE,SECTION,CAMPUS,CREDITHOURS,DELIVERY,MEETING SCHEDULE,ENROLLMENT,CAPACITY
12,15642,CSE,148,Business Computing,N,Oxford,3,Face-to-Face,MW\n ...,26,28
18,14217,CSE,148,Business Computing,FF,Oxford,3,Face-to-Face,TR\n ...,27,28
22,14219,CSE,148,Business Computing,KK,Oxford,3,Face-to-Face,TR\n ...,27,28
29,13384,CSE,174,Fundmntls-Progrming&Prob Solvg,F,Oxford,3,Face-to-Face,TR\n ...,23,32
34,19356,CSE,202,Software Requirements,A,Oxford,3,Face-to-Face,TR\n ...,20,30
35,17108,CSE,212,Software Engineering for UI/UX,A,Oxford,3,Face-to-Face,TR\n ...,27,30
37,19373,CSE,251,Intro to Game Programming,B,Oxford,3,Face-to-Face,MW\n ...,23,24
38,12433,CSE,252,Web Application Programming,A,Oxford,3,Face-to-Face,TR\n ...,14,30
39,17109,CSE,262,"Tech, Ethics & Global Society",A,Oxford,3,Face-to-Face,TR\n ...,21,32
40,12856,CSE,262,"Tech, Ethics & Global Society",B,Oxford,3,Face-to-Face,MW\n ...,17,32
42,12434,CSE,271,Object-Oriented Programming,A,Oxford,3,Face-to-Face,MW\n ...,17,30
43,12435,CSE,271,Object-Oriented Programming,B,Oxford,3,Face-to-Face,MW\n ...,20,30
46,12857,CSE,271,Object-Oriented Programming,E,Oxford,3,Face-to-Face,MW\n ...,35,36
50,12438,CSE,274,Data Abstractions & Structures,A,Oxford,3,Face-to-Face,T\n ...,26,32
51,12858,CSE,274,Data Abstractions & Structures,B,Oxford,3,Face-to-Face,T\n ...,25,32
52,13686,CSE,274,Data Abstractions & Structures,C,Oxford,3,Face-to-Face,T\n ...,17,32
54,12439,CSE,278,Systems I,A,Oxford,3,Face-to-Face,M\n ...,18,36
57,19358,CSE,301,Software Architecture & Design,A,Oxford,3,Face-to-Face,WF\n ...,14,30
58,19359,CSE,301,Software Architecture & Design,B,Oxford,3,Face-to-Face,WF\n ...,8,30
59,19360,CSE,302,Software Construction,A,Oxford,3,Face-to-Face,TR\n ...,28,30
60,19618,CSE,309,Leading In Project Management,A,Oxford,3,Face-to-Face,TR\n ...,7,30
62,17112,CSE,374,Algorithms I,B,Oxford,3,Face-to-Face,WF\n ...,19,35
63,15633,CSE,374,Algorithms I,C,Oxford,3,Face-to-Face,WF\n ...,18,32
64,19363,CSE,374,Algorithms I,D,Oxford,3,Face-to-Face,WF\n ...,24,30
65,14223,CSE,381,Systems 2,A,Oxford,3,Face-to-Face,MW\n ...,35,40
66,14224,CSE,381,Systems 2,B,Oxford,3,Face-to-Face,MW\n ...,38,40
76,19364,CSE,401,Software Quality Assurance,A,Oxford,3,Face-to-Face,TR\n ...,23,30
79,19743,CSE,432,Machine Learning,C,Oxford,3,Face-to-Face,MF\n ...,17,24
80,12446,CSE,448,Senior Design Project,A,Oxford,2,Face-to-Face,TR\n ...,38,50
82,14241,CSE,449,Senior Design Project,B,Oxford,2,Face-to-Face,TR\n ...,22,80
83,16317,CSE,449,Senior Design Project,C,Oxford,2,Face-to-Face,TR\n ...,22,80
85,14226,CSE,465,Comparative Prog. Languages,A,Oxford,3,Face-to-Face,MW\n ...,32,33
87,19745,CSE,465,Comparative Prog. Languages,C,Oxford,3,Face-to-Face,MW\n ...,23,28
96,19744,CSE,532,Machine Learning,C,Oxford,3,Face-to-Face,MF\n ...,5,6
97,12893,CSE,556,Bioinformatics Principles,A,Oxford,3,Face-to-Face,TR\n ...,0,2
98,12860,CSE,565,Comparative Prog. Languages,A,Oxford,3,Face-to-Face,MW\n ...,1,3
99,14555,CSE,565,Comparative Prog. Languages,B,Oxford,3,Face-to-Face,MW\n ...,2,3
100,19747,CSE,565,Comparative Prog. Languages,C,Oxford,3,Face-to-Face,MW\n ...,0,2
106,19668,CSE,602,Emerging Topics in Comp Sci,A,Oxford,1,Face-to-Face,W\n ...,19,30
108,19371,CSE,617,Advanced Networks,A,Oxford,3,Face-to-Face,TR\n ...,25,30
109,19583,CSE,620F,Large-Scale Empirical Sftw Eng,A,Oxford,3,Face-to-Face,TR\n ...,15,30